@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");

.textdosis {
  font-family: "Dosis", sans-serif;
}

.textrighteous {
  font-family: "Righteous", cursive;
}

.width100onsmalland50whenlarge {
  width: 50%;
}

@media (max-width: 960px) {
  .width100onsmalland50whenlarge {
    width: 100%;
  }
}

.bordertalk2 {
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  margin: 25px 5px;
}

.bordertalk {
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  margin: 25px 5px;
}

.displaybox {
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
}

.colorblue {
  color: #247ba0;
}

.superCenter {
  display: grid;
  place-items: center;
}

.colorpurple {
  color: #2f49a8;
}

.colorredish {
  color: #a82f2f;
}

.colorOtherpurple {
  color: #642fa8;
}

.loadingBox {
  margin: 5px;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  color: black;
}

.darkhighlight {
  background-color: black;
  color: white;
}

.bluebackground {
  background: #247ba0;
}

.whitebackground {
  background: ghostwhite;
}

.hoverBlue {
  color: #707071;
  cursor: pointer;
}

.hoverBlue:hover {
  transition: 0.25s;
  color: #247ba0 !important;
  cursor: pointer;
}

.theredcolor {
  color: #c2181b !important;
}

.borderblacklineleft {
  border-left-style: solid;
  border-width: 3px;
  border-color: black;
}

.theblacklineNoMediaTop {
  border-top-style: solid;
  border-width: 3px;
  border-color: black;
}

.theblacklineNoMedia {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: black;
}

.theblackline {
  border-right-style: solid;
  border-width: 5px;
  border-color: black;
}

.blackborderoverride {
  border-color: white;
  border-width: 1px;
}

.accordionButton {
  border-top-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: none;
}

.accordionButton:focus {
  background-color: #247ba0;
  color: white;

  border-color: black;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordionButton:not(.collapsed) {
  background-color: white;
  color: black;
}

.accordionButtonLast {
  border-bottom-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: none;
}

@media (max-width: 576px) {
  .theblackline {
    border-right-style: none;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: black;
  }
}

.blueborder {
  border-style: solid;
  border-color: #247ba0;
  border-width: 5px;
}

.thewhiteline {
  border-right-style: solid;
  border-width: 5px;
  border-color: #ffffff;
}

@media (max-width: 576px) {
  .thewhiteline {
    border-right-style: none;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #ffffff;
  }
}

.formResizer {
  width: 55%;
}

@media (max-width: 820px) {
  .formResizer {
    width: 80%;
  }
}
